body{
	font-family: 'Ebrima', sans-serif;;
	font-size: 14px;
	color: #fff;
}
/*diseño del encabezado*/
header{
	background-color: #fff;
	color: #fff;
	text-align: center;
	padding: 30px;
}
header h1{
	font-size: 25px;
}

#portada{
	background-image: url("../img/WhatsApp Image 2019-11-17 at 15.39.07.jpeg");
	background-size: cover;
	background-position: top center;
	padding: 30% 0;
	color: #fff;
}

#portada h1{
	font-size: 40px;
	text-transform: uppercase;
	background-color: #af201a;
	text-align: right;
}

.section{
	padding: 50px 0;
}
